*{
    color: white;
}


div h1, h2 {
    font-family: 'Sigmar', cursive;
}

p {
    font-family: 'Lato', sans-serif;
}


.navbar {
    width: auto;
    background: url(img/bg-superior2.jpg);
}

.navbar-collapse {
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
    transition: all 0.4s ease;
}

.navbar-brand:hover {
    transform: scale(120%);
    
}

.principal {
    background-color: rgb(126, 126, 126);
}

.nav-item {
    font-weight: 500;
    font-size: 20px;
    transition: all 0.4s ease;
}

.nav-item:hover {
    color: aliceblue;
    font-weight: 700;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.carrusel-venezuela {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    background-color: rgb(83, 83, 83);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.6);
}


.todo-incluido {
    padding-top: 100px;
}

.paquetes {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-bottom: 100px;
}

.card {
    max-width: 400px;
    height: 100%;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease;
}

.card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.card-img {
    height: 280px;
}

.card-text {
    color: black;
}

.seccion-margin {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.video iframe {
    padding: 0 30px;
    width: 100%;
    height: 350px;
}

.titulo-promo{
    padding-bottom: 20px;
}

.texto-promocion {
    color: white;
    font-size: 20px;
}

.ubicacion {
    padding-top: 60px;
}

.mapa {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.formulario-completo {
    padding: 50px;
    background-color: rgb(83, 83, 83);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.6);

}

.contacto{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 40px;
    color: black;
    font-weight: 700;
}

.formulario {
    padding-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 900px;
}

.titulo-contacto {
    font-size: 40px;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}


.footer {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background: url(img/bg.jpg);
}

.derechos-reservados {
    font-size: 13px;
    color: white;
}

@media screen and (max-width: 1390px){

    .imagen-carrusel {
        height: 470px;
    }

    .card-img {
        height: 230px;
    }

    .imagen-promo {
        height: 300px;
    }
}

@media screen and (max-width: 1170px) {
    .video iframe {
        width: 100%;
        height: 270px;
    }
}

@media screen and (max-width: 992px) {

    
    .imagen-carrusel {
        height: 380px;
    }

    .todo-incluido{
        margin-top: 30px;
        margin-bottom: -25px;
    }

    .card {
        max-width: 600px;
        margin: 25px;
    }

    .card-img {
        height: 160px;
    }

    .promocion {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .imagen-promo {
        width: 700px;
        height: 400px;
    }

    .texto-promocion {
        font-size: 20px;
        padding-top: 30px;
        padding-left: 50px;
        text-align: center;
    }
}


@media screen and (max-width: 775px) {

    .navbar-brand {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    }

    .paquetes {
        padding-left: 20px;
    }

    .imagen-carrusel {
        height: 220px;
    }

    .card-img {
        height: 240px;
    }

    .video iframe {
        width: 100%;
        height: 250px;
    }

    .texto-promocion {
        font-size: 18px;
        padding-top: 30px;
        padding-left: 50px;
        text-align: center;
    }
}

@media screen and (max-width: 400px) {

    header{
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 9999;
    }

    .principal {
        margin-top: 50px;
    }

    .carrusel-venezuela {
        padding: 10px;
    }
    
    .imagen-carrusel {
        height: 180px;
    }

    .card-img {
        height: 160px;
    }

    .card:active {
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
        transform: translateY(-3%);
    }

    .paquetes{
        padding-bottom: 25px;
    }

    .video iframe {
        width: 100%;
        height: 170px;
    }

    .texto-promocion {
        font-size: 15px;
        padding-top: 30px;
        padding-left: 50px;
        color: white;
        text-align: center;
    }

    .contacto {
        padding-top: 15px;
    }

    .titulo-contacto {
        font-size: 25px;
        padding: 10px;
    }
    
    .formulario {
        padding-top: 10px;
        margin-bottom: 5px;

    }

}